<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>chaicode &alpha;</title>
	<meta name="keywords" content="chaicode,live,html,html5,javascript,css,editor,programming,jquery" />
	<meta name="description" content="chaicode is a html, javascript and css editor that shows output in realtime across devices." />
	<meta name="author" content="Mudit Ameta" />
	<meta name="robots" content="index,follow" />
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/css/reset.css" />
	<link rel="stylesheet" href="/css/common.css" />
	<link rel="stylesheet" href="/css/chaicode.css" />
	<link rel="stylesheet" href="/css/chaicode-new.css" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script src="/js/chaicode.js"></script>
	<script src="/js/util.js"></script>
	<script src="/js/main.js"></script>

	<script src="/socket.io/socket.io.js"></script>
</head>
<body>
	<!--
	*************************************
	Main container start
	*************************************
	-->
	<div id="main_container">
		<form method="post" id="code_form">
			<!--
			*************************************
			Action buttons start
			*************************************
			-->
			<div id="action_buttons">

				<div class="button btn-left left" id="new_chai">
					<a href="">New</a>
				</div>
				<div class="button btn-middle left" id="save">Save</div>
				<div class="button btn-middle left" id="fork">Fork</div>
				<div class="button btn-middle left" id="list_chais">List chais</div>
				<div class="button btn-middle left" id="export">Export</div>
				<div class="button btn-right left" id="live_scrn">Live</div>
				
				<div class="code-status right">
					<p>Saved</p>
				</div>
				
				<div class="clear"></div>
				
				<!-- <div class="button left" id="collab">
					<p>Collab</p>
				</div> -->
				
				

			</div>
			<!--
			*************************************
			Action buttons end
			*************************************
			-->
			
			<!--
			*************************************
			html and js container start
			*************************************
			-->
			<div id="chaicode_container">
				<div>
					<p class="active-box-title">html</p>
					<textarea id="chaicode_html_content" name="chaicode[html]" data-code="html"><%= html %></textarea>
				</div>
				<div>
					<p class="box-title">javascript</p>
					<textarea id="chaicode_js_content" name="chaicode[js]" data-code="js"><%= js %></textarea>
				</div>
			</div>
			<!--
			*************************************
			html and js container end
			*************************************
			-->
			
			<!--
			*************************************
			css and output container start
			*************************************
			-->
			<div id="chaicode_container">
				<div>
					<p class="box-title">css</p>
					<textarea id="chaicode_css_content" name="chaicode[css]" data-code="css"><%= css %></textarea>
				</div>
				<div>
					<p class="box-title">output</p>
					<iframe id="chaicode_output_frame"></iframe>
				</div>
				<!-- <div id="radio_buttons">
					<p>Wrap javascript in: </p>
					<label for="chaicode_onready_wrap">jQuery ready</label><input type="radio" name="chaicode[wrapMethod]" id="chaicode_onready_wrap" value="jqueryReady"/>
					<label for="chaicode_onload_wrap">window.onload</label><input type="radio" name="chaicode[wrapMethod]" id="chaicode_onload_wrap" value="onload"/>
					<label for="chaicode_none_wrap">none</label><input type="radio" name="chaicode[wrapMethod]" id="chaicode_none_wrap" checked="checked" value="none"/>
				</div> -->
			</div>
			<!--
			*************************************
			css and output container end
			*************************************
			-->
			
		</form>
	</div>
	<!--
	*************************************
	Main container end
	*************************************
	-->
</body>
</html>