<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>chaicode:ERROR</title>
	<link rel="stylesheet" href="/css/reset.css" />
	<link rel="stylesheet" href="/css/error.css">
</head>
<body class="body_500">
	<div class="error_container">
		<div class="error_code"><p>Oh noes, not a <span>500 error!</span> :&apos;(</p></div>
		<div class="error_text">chaicode: <%= error %></div>
		<% if (errorStack) %>
		<div class="error_stack"><%- errorStack %></div>
		<div class="back_button" id="back">Go back!</div>
	</div>
	<script type="text/javascript">
		window.onload = function(){
			document.getElementById("back").addEventListener("click", function(e){
				history.go(-1);
			});
		}
	</script>
</body>
</html>