.disappear {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

a, a:visited {
	text-decoration: none;
	color: white;
}

.button {
	display: inline-block;
/*	width: 100px;*/
	
	outline: none;
	border: 0;
	border: 1px solid #929ba2;
	border-radius: 3px;
	
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	
	background-image: -moz-linear-gradient(#bbcbd8, #8ea5b5);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#8ea5b5), to(#bbcbd8));
	background-image: -webkit-linear-gradient(#bbcbd8, #8ea5b5);
	background-image: -o-linear-gradient(#bbcbd8, #8ea5b5);
	background-color: #8ea5b5;
	
	margin: 5px 0 5px 0;
	padding: 0.8em;
	
	text-shadow: 1px 1px 1px #c6d4df;
	color: #57646d;
	text-align: center;
	
	cursor: pointer;
}

.button:active {
	border: 1px solid #656f78;
	background-image: -moz-linear-gradient(#8ea5b5, #bbcbd8);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bbcbd8), to(#8ea5b5));
	background-image: -webkit-linear-gradient(#8ea5b5, #bbcbd8);
	background-image: -o-linear-gradient(#8ea5b5, #bbcbd8);
	background-color: #bbcbd8;
}

.button a{
	color: #57646d;
}

/* div.button:after {
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	width: 108px;
	height: 24px;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 2px;
	-webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15);
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15);
} */