body {
	font-family: sans-serif;
	-webkit-font-smoothing: antialiased;
}

a {
	text-decoration: none;
	color: inherit;
}
#main_container {
	width:100%;
	overflow: hidden;
}

#qckMeddler_container {
	width: 98%;
	margin: auto;
	overflow: hidden;
	padding-top: 5px;
}

	#qckMeddler_container > div {
		width: 48%;
		margin: 1%;
	}

		#qckMeddler_container div textarea,iframe {
			width: 100%;
			height: 396px;
		}

		#qckMeddler_output_frame {
			border: 1px solid #afafaf;
			overflow: auto;
			height: 400px;
		}

.disappear {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

.breathe{
	margin-right: 20px;
	margin-bottom: 20px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

#action_buttons {
	width: 98% !important;
	margin: 0 auto !important;
	overflow: hidden;
}

div.button {
	width: 100px;
	background-color: #2e2e2e;
	color: #F7F7F7;
	padding: 5px;
	text-align: center;
	position: relative;
	cursor: pointer;
	border-radius: 2px;
	margin: 5px 10px 5px 0;
}

div.button:hover {
	background-color: #494949;
}

div.button:after {
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	width: 108px;
	height: 24px;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 2px;
	-webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15);
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15);
}